B77;10103;0c# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env

# npm packages
node_modules

# Mac
.DS_Store

# Emacs
*~

#PG Pass
.pgpass

#Extra weird file
#web.js#